<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.e.kahloon_village">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".frt_pay"></activity>
        <activity android:name=".write_restaurant" />
        <activity android:name=".write_bungalow" />
        <activity android:name=".frt_restaurant" />
        <activity android:name=".frt_bungalow" />
        <activity android:name=".empscheduleBackgroundWorker" />
        <activity android:name=".emp_schedule" />
        <activity android:name=".frt_emp_selection" />
        <activity android:name=".frt_profile" />
        <activity android:name=".emp_profile" />
        <activity android:name=".startBar" />
        <activity
            android:name=".empTask"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".frtTask"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

    <uses-permission android:name="android.permission.INTERNET" />

</manifest>